body{
    background-color: rgb(213, 225, 230);
    font-family: cursive;
    text-align: center;
}
.qrcode
{
    position: absolute;
    margin: auto;
    padding: 1rem;
    padding-bottom: 3rem;
    inset: 0;
    background: white;
    height: 470px;
    width: 302px ;
    box-shadow: 7px 9px 20px 6px rgba(0, 0, 0, 0.185);
    border-radius: 16px;


}

h2{
    color: rgb(37 45 71);
}

img{
    width: 100%;
    border-radius: 8px;
}